/* @font-face {
  font-family: "BebasNeue";
  src: url("BebasNeue-Bold.otf") format("otf"),
    url("BebasNeue-Book.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("BebasNeue-Light.otf") format("otf"),
    url("BebasNeue-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "BebasNeue";
  src: url("BebasNeue-Bold.otf") format("otf"),
    url("BebasNeue-Bold.ttf") format("truetype");
  font-weight: bold;
} */

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'),
      url('BebasNeueBold.woff2') format('woff2'),
      url('BebasNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("RobotoRegular.woff") format("woff") url("RobotoRegular.ttf")
    format("truetype");
  font-weight: normal;
}
